@media screen and (min-width: 350px) {
  #container {
    max-height: 1024px;
    display: grid;
    grid-template-columns: repeat(2, 33.3%);
    grid-template-rows: repeat(2, 33.3%);
  }

  #map {
    grid-area: 1 / 1 / 3 / 4;
    background-color: antiquewhite;
  }

  .grid-container {
    grid-template-rows: repeat(11, 30px);
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
  }

  .row {
    display: grid;
    grid-template-columns: repeat(11, 30px);
  }

  .grid-item {
    aspect-ratio: 1;
    border: 1px solid #000;
  }

  #Spring {
    aspect-ratio: 1;
    border: 4px solid #a00073;
    background-color: #790056;
    width: 15%;
  }

  #Summer {
    aspect-ratio: 1;
    border: 4px solid #ffff58;
    background-color: #ffea00;
    width: 15%;
  }

  #Fall {
    aspect-ratio: 1;
    border: 4px solid #ffa600;
    background-color: #ba7900;
    width: 15%;
  }

  #Winter {
    aspect-ratio: 1;
    border: 4px solid #00a2ff;
    background-color: #004a74;
    width: 15%;
  }

  #seasons {
    grid-area: 3 / 1 / 3 / 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  #challanges {
    grid-area: 3 / 2 / 3 / 2;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .challange {
    border: 4px solid #000000;
    background-color: #555555;
    width: 15%;
    aspect-ratio: 1;
  }

  #placement {
    grid-area: 3 / 3 / 3 / 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  #placement h1 {
    grid-area: 1/1/1/1;
  }

  #placement #rotateItemButton {
    grid-area: 2/1/2/1;
  }

  #placement #mirrorItemButton {
    grid-area: 3/1/3/1;
  }

  #placement #nextItemContainer {
    grid-area: 1/2/4/2;
    height: 100%;
    display: grid;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  #placement #nextItemContainer .preview-item {
    aspect-ratio: 1;
    border: 1px solid #000;
    color: black;
    width: 40px;
    height: 40px;
  }

  #placement #nextItemContainer .row {
    display: grid;
    grid-template-columns: repeat(3, 40px);
  }

  .mountainTile {
    background-color: gray;
  }

  .forestTile {
    background-color: green;
  }

  .villageTile {
    background-color: brown;
  }

  .farmTile {
    background-color: rgb(255, 228, 74);
  }

  .waterTile {
    background-color: lightblue;
  }
}

@media screen and (min-width: 450px) {
  .grid-container {
    grid-template-rows: repeat(11, 38px);
  }

  .row {
    grid-template-columns: repeat(11, 38px);
  }
  #Spring {
    width: 30px;
    height: 30px;
  }

  #Summer {
    width: 30px;
    height: 30px;
  }

  #Fall {
    width: 30px;
    height: 30px;
  }

  #Winter {
    width: 30px;
    height: 30px;
  }
}

@media screen and (min-width: 650px) {
  .grid-container {
    grid-template-rows: repeat(11, 45px);
  }

  .row {
    grid-template-columns: repeat(11, 45px);
  }
  #Spring {
    width: 40px;
    height: 40px;
  }

  #Summer {
    width: 40px;
    height: 40px;
  }

  #Fall {
    width: 40px;
    height: 40px;
  }

  #Winter {
    width: 40px;
    height: 40px;
  }
}

@media screen and (min-width: 1000px) {
  #container {
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(3, 33.3%);
  }

  #map {
    grid-area: 1 / 1 / 4 / 2;
  }

  .grid-container {
    grid-template-rows: repeat(11, 40px);
  }

  .row {
    grid-template-columns: repeat(11, 40px);
  }

  #seasons {
    grid-area: 1 / 2 / 2 / 3;
  }

  #challanges {
    grid-area: 2 / 2 / 3 / 3;
  }

  #placement {
    grid-area: 3 / 2 / 4 / 3;
  }
  #Spring {
    width: 70px;
    height: 70px;
  }

  #Summer {
    width: 70px;
    height: 70px;
  }

  #Fall {
    width: 70px;
    height: 70px;
  }

  #Winter {
    width: 70px;
    height: 70px;
  }
}

@media screen and (min-width: 1130px) {
  .grid-container {
    grid-template-rows: repeat(11, 45px);
  }

  .row {
    grid-template-columns: repeat(11, 45px);
  }
  #Spring {
    width: 90px;
    height: 90px;
  }

  #Summer {
    width: 90px;
    height: 90px;
  }

  #Fall {
    width: 90px;
    height: 90px;
  }

  #Winter {
    width: 90px;
    height: 90px;
  }
}

@media screen and (min-width: 1250px) {
  .grid-container {
    grid-template-rows: repeat(11, 50px);
  }

  .row {
    grid-template-columns: repeat(11, 50px);
  }
}

@media screen and (min-width: 1500px) {
  .grid-container {
    grid-template-rows: repeat(11, 65px);
  }

  .row {
    grid-template-columns: repeat(11, 65px);
  }
}